.header{
  border: 2px solid blue;
  background-color: rgb(19, 25, 33);
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.left-section{
  border: 2px solid green;
  width: 150px;
}
.left-section .amazon-logo{
  width: 100px;
  padding-left: 20px;
  padding-top: 5px;
}

.middle-section{
  border: 2px solid red;
  max-width: 850px;
  margin: 0 10px;
  display: flex;
}
.middle-section .search-field {
  height: 35px;
  margin-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0px;
}
.middle-section .search-icon{
  height: 35px;
  border: 0px;
  background-color: yellow
}
